html {
  font-family: 'Dosis', sans-serif;
  font-size: 20;
  overflow: hidden;
  user-select: none;
}

svg {
  width: 100%;
  height: 90%;
}

.clickableNextToText {
  margin-left: 4px;
  margin-right: 4px;
}

.inlineUI {
  display: inline-block;
}

.edgePath {
  stroke: #0000004C;
}
.endState {
  stroke: black;
  stroke-dasharray: 2, 2;
  stroke-width: 5px;

}

.lineStyle {
  stroke: #0000004C;
  stroke-width: 1px;
}

.node {
  stroke-width: 1px;
}

#addEdgesPromptContainer {
  display: none;
}
